 
.Editor {
    width: 1000px;
    margin: 0 auto;
}

.accordion {
    padding: 20px 0;
}

.input-group {
    padding: 5px 0;
}
/* Only for signature parameters accordions */
.accordion .accordion .accordion-button:not(.collapsed) {
    background-color: #1d0c33 !important;
    color: #c39ff1;
}
  